.p{
    font-size: 18px;
    text-align: center;
    padding: 0 40px;
}
.wrapper{
    width: 60%;
    margin: 0 auto;
    border: 4px solid #ddd;
}

label{
    font-size: 25px;
}

.first_name, .last_name, .email, .password, .dob{
    width: 90%;
    height: 20px;
    border: 1px solid black;
    padding: 8px;
    font-size: 18px;
}
.fgender, .edu{
    font-size: 18px;
}

.message{
    font-size: 18px;
    padding: 10px;
}

table{
    width: 80%;
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    font-size: 20px;
    text-align: center;
    border: 1px solid black;
}